@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .icon__container {
    @apply flex justify-center items-center cursor-pointer lg:gap-2 lg:py-3 lg:px-5 lg:-ml-5 lg:hover:bg-neutral-100 rounded-md;
  }
  .sidebar__icon__wrapper {
    @apply p-3 lg:p-0 rounded-md aspect-square transition-colors hover:bg-neutral-100 mb-2 lg:mb-0;
  }
  .sidebar__container {
    @apply w-[80px]  lg:w-[350px] h-[calc(100vh-61px)] shrink-0 -ml-5 lg:ml-0 pt-4;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
