.d__grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5";
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}

.d__grid > * {
  border: 1px solid #ddd;
  padding: 0 1.25em;
}

@media (min-width: 768px) {
  .d__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "box1 box2"
      "box3 box4"
      "box5 box5";
  }
}

@media (min-width: 968px) {
  .d__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "box1 box1 box2"
      "box3 box4 box5";
  }
}
